@{
  Layout = "_Layout";
}

@using RelationsPractice.Models;
@model List<RelationsPractice.Models.NonProfit>;

<h1>Non Profit Organizations</h1>

@if (@Model.Count == 0)
{
  <h3>No non profits have been added yet!</h3>
} 

@foreach (NonProfit nonProfit in Model)
{
  <li>@Html.ActionLink($"{nonProfit.Title}", "Details", new { id = nonProfit.NonProfitId })</li>
}

<p>@Html.ActionLink("Add new nonProfit", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>