@{
  Layout = "_Layout";
}

<h1>Welcome to Non Profits Org</h1>

<p>@Html.ActionLink("See all non profits", "Index", "Non Profits")</p>
<p>@Html.ActionLink("See all board members", "Index", "Board Memberss")</p>